name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 24.x
        uses: actions/setup-node@v2
        with:
          node-version: '24.x'
      - name: Install dependencies
        run: npm install
      - name: Start JSON Server
        run: npm run server &
      - name: Run tests
        run: npm test
